.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form__select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    max-width: 780px;
    padding: 25px 0 25px 25px;
    border-radius: 41px;
    outline: none;
    border: 1px solid #999;
  }
  .form__title {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 99px;
  }
  .form__order {
    width: 100%;
    max-width: 780px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 25px 0 25px 25px;
    border-radius: 41px;
    outline: none;
    border: 1px solid #999;
  }
  .form__info {
    width: 100%;
    max-width: 780px;
    margin-bottom: 40px;
    padding: 25px 0 0 25px;
    border-radius: 31px;
    resize: none;
    outline: none;
    height: 135px;
    border: 1px solid #999;
  }
  .form__cost {
    width: 100%;
    max-width: 780px;
    padding: 25px 0 25px 25px;
    border-radius: 41px;
    outline: none;
    border: 1px solid #999;
  }
  .form__day {
    width: 100%;
    max-width: 780px;
    padding: 25px 0 25px 25px;
    border-radius: 41px;
    outline: none;
    border: 1px solid #999;
    margin-top: 135px;
  }
  .form__submit {
    text-transform: uppercase;
    width: 100%;
    max-width: 780px;
    padding: 25px 0 25px 25px;
    border-radius: 41px;
    outline: none;
    border: none;
    margin-top: 55px;
    color: #fff;
    background: linear-gradient(0deg, #61ba6d 0%, #88cf2d 100%);
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }